@font-face {
    font-family: "bubbly";
    src: url(fonts/bubbly.TTF);
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "bubbly";
}
section{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: rgb(82, 82, 41);
}

.calcBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 500px;
    width: 400px;

    border:none;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffffff;

    padding: 10px;
    cursor: pointer;

    background-color: beige; 
}
.screenMini{
    display: flex;
    text-align: right;
    direction: ltr;
    box-sizing: border-box;
    padding-right: 45px;
    
    width: 100%;
    height: 5%;

    outline: none;
    border: none;
    background-color: transparent;
    font-weight: 800;

    cursor: pointer;
    pointer-events: none;

}
.screen{
    display: flex;
    text-align: right;
    direction: ltr;
    box-sizing: border-box;
    padding-right: 35px;
    
    width: 100%;
    height: 20%;

    outline: none;
    border:0;
    border-radius: 15px;
    box-shadow: 0 0 11px #000000;

    font-size: 50px;

    background-color: #c9c9003f;
    cursor: pointer;
    pointer-events: none;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 15%;
    width: 100%; 
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25%;
    height: 80%;

    border-radius: 5px;
}
.button:hover{
    transition: 0.05s ease-in-out;
    background-color: yellowgreen;
}
.button-left{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}
.button-left:hover{
    transition: 0.05s ease-in-out;
    background-color: yellowgreen;
}
.button-right{
    width: 25%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}
.button-right:hover{
    transition: 0.05s ease-in-out;
    background-color: yellowgreen;
}

.highLight{
    animation: high 1s ease-in-out infinite alternate;
    box-shadow: inset 0 0 11px  #dfe9cd, inset 0 0 22px  #dfe9cd;
}

@keyframes high {
    0% {background-color: yellowgreen;
    }
    100% {background-color: #c9c9003f;}
}

.add, .substract, .multiply, .divide, .equal{
    background-color: #c9c9003f;
}


.firstL{
    gap: 1px;
}
.suppr, .backspace, .percent{
    background-color: #80808030;
}